.topic-list {
  margin-top: 1%;
  margin-bottom: 2%;
}

.topic-list th, .topic-list td {
  padding-right: 1rem;
}

.topic-list td.center {
  text-align: center;
}

.topic-item {
  margin-bottom: 2%;
}

.topic-heading {
  font-size: 1.25rem;
}
