* {
  word-break: break-all;
}

.breadcrumb {
  background-color: white;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.list-heading {
  font-size: 1.25rem;
}

.topic-list-description {
  width: 65%
}

.topic-list-section h2 {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

td.topic-list-numeric, td.topic-list-timestamp,
th.topic-list-numeric, th.topic-list-timestamp {
  vertical-align: middle;
}

td.topic-list-numeric {
  text-align: center;
}

th.topic-list-numeric {
  text-align: center;
}

#thread-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#first-message-links button, #first-message-links a {
  padding: 0;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  outline: none;
  border: none;
}

#first-message-container button:hover {
  text-decoration: underline;
}

#first-message-container button:not(.collapsed):hover {
  text-decoration: underline;
}

#first-message-container button:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

#first-message-container button.collapsed:after {
  content: 'Näytä koko viesti';
}

#first-message-container button:not(.collapsed):after {
  content: 'Näytä vähemmän';
}

#first-message-content.collapse:not(.show) {
  display: block;
  height: 2.5rem;
  overflow: hidden;
}

#first-message-content.collapsing {
  height: 2.5rem;
}

.thread-meta {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.first-message {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.thread-header .buttons {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.message-item {
  margin-bottom: 1rem;
}

.message-heading {
  font-size: 1.5rem;
}

.message-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 0.5rem!important;
  border-top-right-radius: 0.5rem!important;
}

.message-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.message-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* login.html */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .first {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .middle {
  margin-bottom: 3px;
  border-radius: 0;
}

.form-signin .last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
