.list-heading {
  font-size: 1.25rem;
}

.thread-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.thread-meta {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.first-message {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.thread-header .buttons {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.message-heading {
  font-size: 1.5rem;
}

.message-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 0.5rem!important;
  border-top-right-radius: 0.5rem!important;
}

.message-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.message-footer {
  margin-bottom: 1rem;
}

/* login.html */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .first {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .middle {
  margin-bottom: 3px;
  border-radius: 0;
}

.form-signin .last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
