{% extends 'layout.html' %}
{% block title %}Rekisteröidy{% endblock %}
{% block return_arg %}?return_url=register{% endblock %}
{% block register_nav_class %} active{% endblock %}
{% block content %}
      <div class="text-center">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form class="form-signin" action="/register" method="POST">
          <h1 class="h3 pt-5 mb-3 font-weight-normal">Luo uusi käyttäjä</h1>
          <input type="text" id="inputUsername" class="form-control first" name="username" placeholder="Käyttäjätunnus" autofocus>
          <input type="password" id="inputPassword1" class="form-control middle" name="password1" placeholder="Salasana">
          <input type="password" id="inputPassword2" class="form-control last" name="password2" placeholder="Salasana uudelleen">
          <input type="hidden" name="return_url" value="{{ return_url }}">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Luo tunnus</button>
        </form>
      </div>
{% endblock %}