{% extends 'layout.html' %}
{% block title %}{{ topic.topic }}{% endblock %}
{% block return_arg %}?return_url={{ logout_return }}{% endblock %}
{% block forum_nav_class %} active{% endblock %}
{% block content %}
{% if error %}
      <div class="text-center">
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      </div>
      {% endif %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Keskustelut</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ topic.topic }}
          </li>
        </ol>
      </nav>
      <h1>{{ topic.topic }}</h1>
      <p class="lead">{{ topic.description }}</p>
      <a class="btn btn-primary mt-2 mb-3" href="/post?topic={{ topic.id }}" role="button">Aloita uusi viestiketju</a>
      <table class="table table-light">
        <tr>
          <th>Aihe</th>
          <th>Viestejä</th>
          <th>Uusin viesti</th>
        </tr>
        {% for thread in thread_list %}
        {% if thread.deleted %}
        <tr>
          <td>
            <div class="list-item">
              <div class="list-heading"><a href="/thread/{{ thread.id }}">Tämä viesti on poistettu</a></div>
            </div>
          </td>
          <td>{{ message_nums[thread.id] }}</td>
          <td>{{ latest_message_times[thread.id] }}</td>
        </tr>
        {% else %}
        <tr>
          <td>
            <div class="list-item">
              <div class="list-heading"><a href="/thread/{{ thread.id }}">{{ thread.heading }}</a></div>
              <div class="list-description">{{ thread.sample }}...</div>
            </div>
          </td>
          <td>{{ message_nums[thread.id] }}</td>
          <td>{{ latest_message_times[thread.id] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
{% endblock %}
